<!DOCTYPE html>
<html>
  <head>
    <title>TimeLine</title>
      <link rel="stylesheet" href="stylesheets/haiku.css">
  </head>
  <body>
      
    <!--Header Start-->
    <header id="intro">
  		<div class="container">
  			<div class="table">
  				<div class="header-text">
  					<div class="row">
  						<div class="col-md-12 text-center">
  							<h1 class="white typed">MyPage</h1>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</header>
  	<!--Header End-->
     <form class="form-horizontal">
      <div class="form-group">
        <label for="exampleInputEmail1">Text</label>
        <input type="text" onkeyup="alertValue()" onkeydown="alertValue()" name="font" id="txt">
      </div>
	  </form>
	  
	  
       <%["Jura","BoomtownDeco","CODE","Forum","garto","Gota","Hero","AdmirationPains","OpenBaskerville","passau"].each do |str|%>
       <div class="row">
        <div class="col-md-6">
          <article id="box">
          <ul class="panel panel-primary">
            <div class="row">
              <div class="col-md-12">
                <h2>
                  <span class="glyphicon glyphicon-bookmark">
                  </span>
                  title
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 font_text" id=<%= str %> >
                      <%= str %>
              </div>
            </div>
          </ul>
          </article>
        </div>
      </div>
    
    
    <!--style&script-->
    <style type="text/css">
      @font-face {
					font-family: '<%= str %>';
					src: url('../fonts/<%= str %>.ttf')format('truetype');
				}
	#<%= str %>{
	    font-family: '<%= str %>';
	    font-size: 40px;
	    word-break:break-all
	}
	</style>
	<% end %>
    <script>
    //リアルタイム変更
     function alertValue() {
      
         var elm = document.getElementsByClassName("font_text");
      
          for(i=0; i<elm.length; i++) {
              elm[i].innerHTML=document.getElementById("txt").value;
              
          }
     }
    </script>
  </body>
</html>